/* Container */
.home {
 background: radial-gradient(circle at top, #3E2A1C, #000);
 min-height: 100vh;
}

/* Hero*/
.home .hero {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 80px 100px; 
}

/* Text */

.home .hero-text h1 {
 font-size: 48px;
 color: var(--primary-color);
}

.home .hero p {
    margin: 20px 0;
}

/* Logo */
.home .hero-logo {
    width: 220px;
}

/* Features */
.home .features {
    display: flex;
    padding: 60px 100px;
    justify-content: space-around;
}