:root {
    --primary-color: #F4A261;
    --secondary-color: #1A120B;
    --accent-color: #4B2E1E;
    --text-color: #F1E3C6;
    --card-border: #8B5E3C;
    --white: #FFFFFF;
    --black: #000000;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: 'Georgia', serif;
}

button {
    cursor: pointer;
    font-family: inherit;
}

a { 
    text-decoration: none;
    color: inherit;
}